header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 41vh;
}

.title-prince {
    font-size: 48px;
    margin-top: 5%;
    padding-bottom: 20px;
}

.text-secondary-of-header {
    font-size: 18px;
    width: 35%;
    text-align: center;
}

@media screen and (max-width: 585px) {
    .title-prince {
        text-align: center;
    }

    .text-secondary-of-header {
        width: 70%;
    }
}